@import "tailwindcss";
@reference "tailwindcss";

html, body {
  background-color: white;
  color: rgb(17, 24, 39);
}

.dark html,
.dark body {
  background-color: rgb(3, 7, 18);
  color: rgb(229, 231, 235);
}
